title-table .table thead td {
  padding: 0.25em;
  cursor: pointer;
  white-space: nowrap;
}


title-table .table tbody td {
  padding: 0.25em;
}

pagination {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.page-link {
  width: 50px;
}

field-select .form-check-label {
  width: 100%;
}

field-select .noUi-horizontal .noUi-handle {
    width: 14px;
    height: 14px;
    left: -7px;
    top: -6px;
}

field-select .noUi-horizontal {
    height: 5px;
}

field-select .noUi-handle:before, field-select .noUi-handle:after {
    height: 8px;
    width: 1px;
    left: 6px;
    top: 2px;
}

field-select .noUi-tooltip {
  padding: 0;
}

field-select .field-select nouislider {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 15px;
}

ng-select .btn {
  padding: 0.1rem 0.1rem;
}
